<button mat-flat-button routerLink="create">crear Persona</button>

<table mat-table [dataSource]="model" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
     <!-- Position Column -->
     <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> position </th>
        <td mat-cell *matCellDef="let element, let i = index"> {{i + 1}} </td>
      </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" [routerLink]="['update', element.id]">Actualizar</button>
          <button mat-button color="warn" [routerLink]="['delete', element.id]">Eliminar</button>
        </td>
      </ng-container>
      
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  